.root{
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #050320a1;
}
  
.header, .main{
  width: 80%;
  margin: 0 auto;
}

.main__titlesTable, .tempalate{
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.main__titleContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #749fcddf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.header__button:hover {
  background-color: #0056b3;
}

.main__buttonSortUP {
  background-color: #4caf50;
  color: #fff;
  height: 30px;
  cursor: pointer;
}

.main__buttonSortDOWN {
  background-color: #f44336;
  color: #fff;
  height: 30px;
  cursor: pointer;
}